[submodule "ARENA-core"]
	path = ARENA-core
	url = git@github.com:conix-center/ARENA-core.git
[submodule "arena-persist"]
	path = arena-persist
	url = git@github.com:conix-center/arena-persist.git
[submodule "arts"]
	path = arts
	url = git@github.com:conix-center/arts.git
[submodule "arena-runtime-simulated"]
	path = arena-runtime-simulated
	url = git@github.com:conix-center/arena-runtime-simulated.git
[submodule "ARENA-auth"]
	path = ARENA-auth
	url = git@github.com:conix-center/ARENA-auth.git
