[submodule "ARENA-core"]
	path = ARENA-core
	url = git@github.com:conix-center/ARENA-core.git
[submodule "arena-persist"]
	path = arena-persist
	url = git@github.com:conix-center/arena-persist.git
[submodule "arts"]
	path = arts
	url = git@github.com:conix-center/arts.git
