
   
[submodule "arena-web-core"]
	path = arena-web-core
	url = https://github.com/arenaxr/arena-web-core
[submodule "arena-persist"]
	path = arena-persist
	url = https://github.com/arenaxr/arena-persist 
[submodule "arena-account"]
	path = arena-account
	url = https://github.com/arenaxr/arena-account 
[submodule "orchestrator"]
	path = orchestrator
	url = https://github.com/SilverLineFramework/orchestrator.git
[submodule "runtime-native"]
	path = runtime-native
	url = https://github.com/SilverLineFramework/runtime-native.git
