# we produce the final config file by passing this file through envsubst (will substitute env variables like ${HOSTNAME}, ...)
# IMPORTANT: to avoid substitution on nginx variables, use '${ESC}' on the their '$' signs
server {
    server_name         ${HOSTNAME};
    server_tokens off;
    client_max_body_size 1000M;

    listen              443 ssl;
    ssl_certificate     /etc/letsencrypt/live/${HOSTNAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${HOSTNAME}/privkey.pem;
    include             /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam         /etc/letsencrypt/ssl-dhparams.pem;

    location = /robots.txt {
        add_header  Content-Type  text/plain;
        return 200 "User-agent: *\nDisallow: /\n";
    }

    location ^~ /mqtt/ {
        proxy_pass http://mqtt:9001;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
        proxy_set_header Host               ${ESC}host;
        proxy_set_header X-Real-IP          ${ESC}remote_addr;
        proxy_set_header X-Forwarded-Proto  ${ESC}scheme;
        proxy_set_header X-Forwarded-For    ${ESC}proxy_add_x_forwarded_for;
    }

    location ^~ /mqtt1/ {
        proxy_pass http://mqtt-br1:9001;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
        proxy_set_header Host               ${ESC}host;
        proxy_set_header X-Real-IP          ${ESC}remote_addr;
        proxy_set_header X-Forwarded-Proto  ${ESC}scheme;
        proxy_set_header X-Forwarded-For    ${ESC}proxy_add_x_forwarded_for;
    }

    location ^~ /mqtt2/ {
        proxy_pass http://mqtt-br2:9001;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
        proxy_set_header Host               ${ESC}host;
        proxy_set_header X-Real-IP          ${ESC}remote_addr;
        proxy_set_header X-Forwarded-Proto  ${ESC}scheme;
        proxy_set_header X-Forwarded-For    ${ESC}proxy_add_x_forwarded_for;
    }

    location ^~ /persist/ {
        add_header 'Access-Control-Allow-Origin' "${ESC}http_origin";
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, DELETE, PUT';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' 'User-Agent,Keep-Alive,Content-Type';
        proxy_pass http://arena-persist:8884/persist/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
    }

    location ^~ /user/static/ {
        root /usr/share/nginx/html/;
    }

    location ^~ /user/ {
        add_header 'Access-Control-Allow-Origin' "${ESC}http_origin";
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, DELETE, PUT';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' 'User-Agent,Keep-Alive,Content-Type';
        proxy_pass http://arena-account:8000;
        proxy_http_version 1.1;
        proxy_set_header Host ${ESC}host;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
    }

    location ^~ /arts-api/ {
        proxy_pass http://orchestrator:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
    }

    location ^~ /pythonrt/ {
        proxy_pass http://py-runtime:5000/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
    }

    location ^~ /storemng/ {
        add_header 'Access-Control-Allow-Origin' "${ESC}http_origin";
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, DELETE, PUT';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' 'User-Agent,Keep-Alive,Content-Type';
        proxy_pass http://store:8080/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${ESC}http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_read_timeout 86400;
    }

    location ^~ /store/ {
        root /usr/share/nginx/html;
        autoindex on;
    }

    location ^~ /conf/ {
        root /usr/share/nginx/html;
        autoindex off;
    }

# Output single-line, modified for readability
set ${ESC}CSP "";
set ${ESC}CSP "${ESC}{CSP}        default-src 'none';";
set ${ESC}CSP "${ESC}{CSP}        script-src 'self' 'unsafe-eval' https://${HOSTNAME} https://arenaxr.org 'sha256-yfJaugPeh7oO5kkG2N8w7ascfBzM+6zN9encOau5C2Q=' https://cdn.jsdelivr.net https://unpkg.com https://www.youtube-nocookie.com/ 'sha256-${FS_LAUNCH_JS_HASH}';";
set ${ESC}CSP "${ESC}{CSP}        connect-src 'self' data: blob: wss://${HOSTNAME} wss://*.andrew.cmu.edu wss://*.conix.io wss://jitsi0.andrew.cmu.edu:8443 https://jitsi1.andrew.cmu.edu https://jitsi0.andrew.cmu.edu:8443 https://jitsi1.andrew.cmu.edu https://${HOSTNAME} https://*.conix.io https://dl.dropboxusercontent.com https://cdn.aframe.io;";
set ${ESC}CSP "${ESC}{CSP}        img-src 'self' data: blob: https://*.conix.io https://dl.dropboxusercontent.com https://cdn.aframe.io https://aframe.io;";
set ${ESC}CSP "${ESC}{CSP}        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net https://maxcdn.bootstrapcdn.com https://use.fontawesome.com/releases/v5.15.2/css/all.css;";
set ${ESC}CSP "${ESC}{CSP}        base-uri 'self';";
set ${ESC}CSP "${ESC}{CSP}        form-action 'self';";
set ${ESC}CSP "${ESC}{CSP}        font-src 'self' data: https://cdn.aframe.io https://fonts.gstatic.com https://maxcdn.bootstrapcdn.com;";
set ${ESC}CSP "${ESC}{CSP}        media-src 'self' https://*.conix.io https://dl.dropboxusercontent.com https://www.youtube-nocookie.com;";
set ${ESC}CSP "${ESC}{CSP}        worker-src 'self' blob:;";
set ${ESC}CSP "${ESC}{CSP}        child-src 'self';";
set ${ESC}CSP "${ESC}{CSP}        frame-src 'self' https://www.youtube-nocookie.com;";
set ${ESC}CSP "${ESC}{CSP}        prefetch-src 'self';";
set ${ESC}CSP "${ESC}{CSP}        manifest-src 'self' blob:;";

    location ~* / {
        root /usr/share/nginx/html;
        index custom_landing.html landing.html index.html;
        disable_symlinks off;

        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' 'User-Agent,Keep-Alive,Content-Type';
        add_header X-Frame-Options "SAMEORIGIN";

        add_header Content-Security-Policy ${ESC}CSP;


        # Cover actual files in subdirectories of /namespace (e.g. /namespace/vendor/env.js)
        location ~* ^/([\w.-]+)/([\w.-]+)/(.+) {
            try_files ${ESC}uri ${ESC}uri/ /${ESC}2/${ESC}3 /${ESC}2/${ESC}3/ ${ESC}3 ${ESC}3/ /index.html;
        }
        # Cover /namespace/scenename and files in same path of /namespace (e.g. /namespace/events.js)
        location ~* ^/([\w.-]+)(/[\w.-]+) {
            try_files ${ESC}uri ${ESC}uri/ ${ESC}2 ${ESC}2/  /index.html;
        }
        # Catch all for /scenename
        location ~* / {
            try_files ${ESC}uri ${ESC}uri/ /index.html;
        }

        location ~ \.(css|html|js)$ {
            expires -1;
            add_header 'Cache-Control' 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        }

    }

}

server {
    listen 80;
    server_name  ${HOSTNAME};
    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${ESC}host${ESC}request_uri;
    }
}
