{
    "realm": "realm",
    "keypath": "/etc/letsencrypt/live/${HOSTNAME}/privkey.pem",
    "certpath": "/etc/letsencrypt/live/${HOSTNAME}/fullchain.pem",
    "secret": "${SECRET_KEY_BASE64}",
    "gauth_clientid": "${GAUTH_CLIENTID}",
    "gauth_installed_clientid": "${GAUTH_INSTALLED_CLIENTID}",
    "port": "8888",
    "rsakeypath": "/home/node/app/pubsubkey.pem"
}
