{
    "mqtt": {
        "uri": "tcp://mqtt",
        "topic_realm": "realm",
        "statusTopic": "service_status"
    },
    "mongodb": {
        "uri": "mongodb://mongodb/arena_persist"
    },
    "secret": "${SECRET_KEY}"
}
