{
    "mqtt": {
        "uri": "tcp://mqtt",
        "topic_realm": "realm",
        "statusTopic": "service_status"
    },
    "mongodb": {
        "uri": "mongodb://mongodb/arena_persist"
    },
    "secret": "${SECRET_KEY_BASE64}",
    "jwt_public_keyfile": "pubsubkey.pub",
    "jwt_service_user": "arena-persist",
    "jwt_service_token": "${PERSIST_JWT}"
}
