{
    "mqtt": {
        "uri": "tcp://mqtt",
        "topic_realm": "${ARENA_REALM}",
        "statusTopic": "service_status"
    },
    "jwt_public_keyfile": "/app/jwt.public.pem",
    "jwt_service_user": "arena_recorder",
    "jwt_service_token": "${SERVICE_ARENA_RECORDER_JWT}"
}
