  Services stack: ${ARENA_SERVICES}
  Core: ${ARENA_CORE}
  Persist: ${ARENA_PERSIST}
  Account: ${ARENA_ACCOUNT}
  Broker: ${ARENA_BROKER}
  Filestore: ${ARENA_FILESTORE}
  ARTS: ${ARTS}
  Runtime Native: ${ARENA_RUNTIME_SIMULATED}
  Init Utils: ${ARENA_INIT_UTILS}