  Services stack: ${ARENA_SERVICES}
  Core: ${ARENA_CORE}@${ARENA_CORE_HASH}
  Persist: ${ARENA_PERSIST}@${ARENA_PERSIST_HASH}
  Account: ${ARENA_ACCOUNT}@${ARENA_ACCOUNT_HASH}
  Broker: ${ARENA_BROKER}@${ARENA_BROKER_HASH}
  Filestore: ${ARENA_FILESTORE}@${ARENA_FILESTORE_HASH}
  ARTS: ${ARTS}@${ARTS_HASH}
  Runtime Native: ${ARENA_RUNTIME_SIMULATED}@${ARENA_RUNTIME_SIMULATED_HASH}
  Init Utils: ${ARENA_INIT_UTILS}