<!DOCTYPE html>
<html>
<body>

<h1>ARENA Versions</h1>

<table>
<tr><td><b>Services stack</b></td><td>:${ARENA_SERVICES}</td></tr>
<tr><td><b>Core</b></td><td>:${ARENA_CORE}@${ARENA_CORE_HASH}</td></tr>
<tr><td><b>Persist</b></td><td>:${ARENA_PERSIST}@${ARENA_PERSIST_HASH}</td></tr>
<tr><td><b>Account</b></td><td>:${ARENA_ACCOUNT}@${ARENA_ACCOUNT_HASH}</td></tr>
<tr><td><b>Broker</b></td><td>:${ARENA_BROKER}@${ARENA_BROKER_HASH}</td></tr>
<tr><td><b>Filestore</b></td><td>:${ARENA_FILESTORE}@${ARENA_FILESTORE_HASH}</td></tr>
<tr><td><b>ARTS</b></td><td>:${ARTS}@${ARTS_HASH}</td></tr>
<tr><td><b>Runtime Native</b></td><td>:${ARENA_RUNTIME_SIMULATED}@${ARENA_RUNTIME_SIMULATED_HASH}</td></tr>
<tr><td><b>Init Utils</b></td><td>:${ARENA_INIT_UTILS}</td></tr>
</table>
</body>
</html>

