  Services stack: ${ARENA_SERVICES}
  Core: ${ARENA_CORE}
  Persist: ${ARENA_PERSIST}
  Account: ${ARENA_ACCOUNT}
  Broker: ${ARENA_BROKER}
  Filestore: ${ARENA_FILESTORE}
  Orchestrator: ${ORCHESTRATOR}
  Runtime Native: ${ARENA_RUNTIME_NATIVE}
  Init Utils: ${ARENA_INIT_UTILS}
