<!DOCTYPE html>
<html>
<body>

<h1>ARENA Versions</h1>

<table>
<tr><td><b>Services stack</b></td><td>:${ARENA_SERVICES}</td></tr>
<tr><td><b>Core</b></td><td>:${ARENA_CORE}</td></tr>
<tr><td><b>Persist</b></td><td>:${ARENA_PERSIST}</td></tr>
<tr><td><b>Account</b></td><td>:${ARENA_ACCOUNT}</td></tr>
<tr><td><b>Broker</b></td><td>:${ARENA_BROKER}</td></tr>
<tr><td><b>Filestore</b></td><td>:${ARENA_FILESTORE}</td></tr>
<tr><td><b>ARTS</b></td><td>:${ARTS}</td></tr>
<tr><td><b>Runtime Native</b></td><td>:${ARENA_RT_NATIVE}</td></tr>
<tr><td><b>Init Utils</b></td><td>:${ARENA_INIT_UTILS}</td></tr>
</table>
</body>
</html>

