{
	"mqtt_server": {
		"host": "${HOSTNAME}"
	},
	"runtime": {
		"name": "py-runtime",
		"reg_attempts": 0,
		"reg_timeout_seconds": 5,
		"max_nmodules": 100,
		"apis": "python:python3",
		"py_launcher_path": "runtimemngr/py_run.sh",
		"wasm_launcher_path": "runtimemngr/wasm_run.sh"
	},
	"topics": [
		{ "topic": "realm/proc/reg", "type": "reg"},
		{ "topic": "realm/proc/control", "type": "ctl"},
		{ "topic": "realm/proc/debug", "type": "dbg"}
	],
	"store_url": "https://${HOSTNAME}/store"
}
