{
    "http": "orchestrator",
    "http_port": 8000,
    "debug": false,
    "realm": "${ARENA_REALM}",
    "mqtt": "mqtt",
    "mqtt_port": 1883,
    "use_ssl": false,
    "mqtt_username": "arena_arts",
    "pwd": "mqtt_pwd.txt",
    "log_dir": "."
}