/* eslint-disable no-unused-vars */
/**
 * @fileoverview Define ARENA defaults
 *
 * Open source software under the terms in /LICENSE
 * Copyright (c) 2020, The CONIX Research Center. All rights reserved.
 * @date 2020
 */

const ARENADefaults = {
    realm: '${ARENA_REALM}',
    camUpdateIntervalMs: 100,
    namespace: 'public',
    sceneName: 'lobby',
    userName: 'Anonymous',
    startCoords: {x: 0, y: 0, z: 0},
    camHeight: 1.6,
    mqttHost: '${HOSTNAME}',
    jitsiHost: '${JITSI_HOSTNAME}',
    ATLASurl: '//atlas.conix.io',
    vioTopic: '/topic/vio/',
    graphTopic: '${ESC}NETWORK',
    latencyTopic: '${ESC}NETWORK/latency',
    mqttPath: ['/mqtt/', '/mqtt1/', '/mqtt2/'],
    persistHost: '${HOSTNAME}',
    persistPath: '/persist/',
    headModelPath: '/media/models/avatars/robobit.glb',
};

if (typeof exports !== 'undefined') exports.ARENADefaults = ARENADefaults;
