/* eslint-disable no-unused-vars */
/**
 * @fileoverview Define ARENA defaults
 *
 * Open source software under the terms in /LICENSE
 * Copyright (c) 2020, The CONIX Research Center. All rights reserved.
 * @date 2020
 */

const ARENADefaults = {
    realm: 'realm',
    camUpdateIntervalMs: 100,
    namespace: 'public',
    sceneName: 'lobby',
    userName: 'Anonymous',
    startCoords: '0,1.6,0',
    mqttHost: '${HOSTNAME}',
    ATLASurl: '//atlas.conix.io',
    vioTopic: '/topic/vio/',
    graphTopic: '${ESC}NETWORK',
    latencyTopic: '${ESC}NETWORK/latency',
    mqttPath: ['/mqtt/', '/mqtt1/', '/mqtt2/'],
    persistHost: '${HOSTNAME}',
    persistPath: '/persist/',
    urlMqttAuth: 'https://${HOSTNAME}/auth/',
    gAuthClientId: '${GAUTH_CLIENTID}',
};
