const defaults = {
     realm: "realm",
     updateMillis:100,
     scenenameParam:"render",
     userParam:"X",
     startCoords:"0,1.6,0",
     themeParam:"starry",
     weatherParam:"none",
     mqttParamZ:"${HOSTNAME}",
     screenSharePath:"screenshare",
     fixedCamera:"",
     ATLASurl:"//atlas.conix.io",
     screenSharePath:"screenshare",
     vioTopic:"/topic/vio/",
     graphTopic:"${ESC}NETWORK",
     latencyTopic:"${ESC}NETWORK/latency",
     mqttPath:["/mqtt/", "/mqtt1/", "/mqtt2/"],
     persistHost:"${HOSTNAME}",
     persistPath:"/persist/",
     urlMqttAuth:"https://${HOSTNAME}/auth/",
     gAuthClientId:'${GAUTH_CLIENTID}'
};
